.header
    .header__wrapper
        .header__column
            h1
                a(href=routes.home)
                    i.fab.fa-youtube 
        .header__column
            form(action=routes.search, method="get")
                i.fas.fa-search
                input(type="text", name="term", placeholder= "Searching By")
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=routes.login) LogIn
                    li
                        a(href=routes.join) Join
                else
                    li
                        a(href=`/videos${routes.upload}`) Upload
                    li
                        a(href=routes.userDetail(loggedUser.id)) Profile
                    li
                        a(href=routes.logout) Log Out

    //- p=user