.header
    .header__wrapper
        .header__column
            ul.mainTitle
                li
                    a(href=routes.home)
                        i.fab.fa-youtube
                        span Wetube
        .header__column
            form(action=routes.search, method="get")
                i.fas.fa-search
                input(type="text", name="term", placeholder= "Searching By")
        .header__column
            ul
                if !loggedUser
                    li
                        a(href=routes.join) Join
                    li
                        a(href=routes.login) LogIn
                else
                    li
                        a(href=`/videos${routes.upload}`) Upload
                    li
                        a(href=routes.userDetail(loggedUser.id)) Profile
                    li.myVideosBtn
                        a(href=`/videos${routes.myVideos}`) My videos
                    li
                        a(href=routes.logout) Log Out


    //- p=loggedUser && loggedUser.id
    //- p=video.creator.id