header.header
    .header__column
        h2 
            a(href=routes.home)
                span.header__icon
                    i.fab.fa-youtube
                span #{siteTitle}
    .header__column
        form(action=`/videos${routes.search}`, method="get")
            input(type="text", name="term", placeholder="Search by")
    .header__column
        ul
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Login