extends layouts/main
include mixins/videoBlock

block content
    .user-profile
        .user-profile__header
            h2.user-profile__title
                if (loggedUser && loggedUser.id === user.id)
                    span
                    span My Profile
                else
                    span 
                    span #{user.name}
                    span 's Profile
            if (user.avatarUrl)            
                .avatar
                    //- img(src=`/${user.avatarUrl}`)
                    img(src=user.avatarUrl)
            else
                //- i.far.fa-user-circle
                svg(fill="currentColor" viewBox="0 0 24 24")
                    path(d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z")

            .user-profile-contents
                .contents-text.name
                    .user-profile-title
                        span Name 
                    span=user.name
                .contents-text.email
                    .user-profile-title
                        span Email 
                    span=user.email               
                
            if loggedUser && user.id === loggedUser.id
                .user-profile__editProfile
                    a(href=routes.editProfile(user.id))
                        button Edit Profile
                .user-profile__changePassword
                    a(href=routes.changePassword(user.id))
                        button Change Password
    
    .user-videos
        each video in user.videos
            +videoBlock3({
                fileUrl:video.fileUrl,
                link:video.link,
                youtubeLink:video.youtubeLink,
                title:video.title,
                id:video.id,
                creatorId:user.id,
                creatorName:user.name
            })
